@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: #171717;
    color: #b1b1b1;
}

ul{
    list-style-type: none;
}

.container{
    max-width: 1110px;
    margin: auto;
    padding: 3rem 2rem;
}

.section{
    padding: 2rem 0;
    border-bottom: .5px solid #444444;
}

.section h3{
    color: #EDEDED;
    font-size: 2rem;
}

.section ul, .section > p, .header .info{
    margin-top: 1rem;
}

.section ul li, .header .info p{
    margin-top: .5rem;
}

.section ul li a{
    color: #EDEDED;
    text-decoration: none;
    background: #DA0037;
    padding: .2rem .5rem;
    font-size: .75rem;
    border-radius: 4px;
}

.header{
    padding-bottom : 2rem;
    border-bottom: .5px solid #444444;
}

.header h1{
    font-size: 3.5rem;
    color: #DA0037;
}
